*{
    margin: 0;
    padding: 0;
}
section{
    background-color: black;
    box-shadow: 0 0px 100px gold;
    min-height: 100vh;
    padding: 20px;
    margin-bottom: 0px;
}
/*  -- Home --  */
#home {
    background: url(img/Background.jpg) no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-color: black;
    padding: 2px;
    margin-bottom: 0px;
}
.white {
    color: white;
}
.hometext{
    font-family: century;
    text-align: center;
    font-weight: 500px;
    color: gold;
    display: inline-block;
    width: 50%;
    margin-top: 250px;
    margin-left: 50%;
}
.hometext span {
    font-size: 30px;
}
.hometext p {
    font-size: 20px;
    
}
.btn1{
    color: black;
    background-color: gold;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 800;
    display: inline-block;
    padding: 10px 35px;
    border: 1px solid black;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 40px;
    outline: none;
    box-shadow: 0 0px 10px gold;
    transition: 0.7s ease;
    
}
.btn1:hover {
    cursor: pointer;
    color: black;
    background-color: gold;
    box-shadow: 0 0px 50px gold;
    font-weight: bold;
    transform: scale(1.1);
}
/*  -- Home Ends --  */

/*  -- About --  */
.headings {
    font-family: century;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    display: flex;
    color: gold;
    font-weight: 300px;
    box-shadow: 5px 5px 15px  gold;
    margin: 40px 0px;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#pic {
    display: flex;
}
#pic img {
    border: 1px solid gold; 
    border-radius: 15px;
    box-shadow: 0 0px 15px gold;
    margin-top: 10px;
    margin-right: 50px;
    width: 525px;
    height: 500px;
}
#intro p {
    font-family: century;
    border: 1px solid gold;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: 0 0px 15px gold;
    display: flex;
    text-align: center;
    color: gold;
    padding: 10px;
    font-size: 1.1rem;
    margin-top: 40px;
    height: 15vh;
    width: 100%;
    margin-left: 12%;

}

.btn2{
    color: black;
    background-color: gold;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 800;
    display: inline-block;
    padding: 20px 35px;
    border: 1px solid black;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 150px;
    margin-left: 50%;
    outline: none;
    box-shadow: 0 0px 10px gold;
    transition: 0.7s ease;
    
}
.btn2:hover {
    cursor: pointer;
    color: black;
    background-color: gold;
    box-shadow: 0 0px 50px gold;
    font-weight: bold;
    transform: scale(1.1);
} 
/*  -- About Ends --  */

/*  -- Services --  */

.content {display: flex; justify-content: center; flex-direction: row; flex-wrap: wrap;}

.card {
    width: 22em;
    box-shadow: 0px 0px 20px gold;
    padding: 30px;
    margin: 20px;
    transition: 0.6s;
}

.card:hover{
    cursor: pointer;
    color: black;
    box-shadow: 0 0px 30px gold;
    transform: scale(1.1);
}

.info{
    font-family: century;
    color: black;
    font-size: 1.1em;
    margin-top: 25px;
}
.info h3 {
    font-family: century;
    color: black;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}
.info p{
    font-family: century;
    color: black;
    font-size: 1.1em;
    margin-top: 15px;
}
.icon{
    background-size: cover;
}
.icon-one{
    position: relative;
    left: 40px;
    background-image: url(img/Paintbrush.png);
    width: 215px;
    height: 220px;
}
.icon-tow{
    position: relative;
    left: 40px;
    background-image: url(img/search.png);
    width: 215px;
    height: 220px;
}
.icon-three{
    position: relative;
    left: 40px;
    background-image: url(img/GoldenBall.png);
    width: 215px;
    height: 220px;
}
/*  -- Services Ends --  */
/*  -- Qualifications --  */
.cardQ{
    background-color: gold;
    width: 25em;
    height:22.25em;
    box-shadow: 0px 0px 20px white;
    padding: 15px;
    margin: 20px;
    transition: 0.5s;
    border: 1px solid black;
    border-radius: 15px;
}
.cardQ:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0px 30px gold;
    transform: scale(1.1);
}
/*  -- Qualifications Ends --  */
/*  -- Skills --  */
.IHP {
    position: relative;
    right: 15px;
    width: 100%;
    height: 220px;
    margin: 15px;
    padding: 15px;
}
.Interface {
    position: relative;
    left: 0px;
    width: 100%;
    height: 220px;
    margin: 15px;
    padding: 15px;
}
/*  -- Skills Ends --  */
/*  --References --  */
.Lexi {
    position: relative;
    left: 0px;
    background-image: url(img/Hala.jpg);
    width: 100%;
    height: 300px;
    margin: 15px;
    padding: 15px;
}
.Elena{
    position: relative;
    left: 0px;
    background-image: url(img/Alaa.jpg);
    width: 100%;
    height: 300px;
    margin: 15px;
    padding: 15px;
}
.Damon{
    position: relative;
    left: 0px;
    background-image: url(img/7ala.jpg);
    width: 100%;
    height: 300px;
    margin: 15px;
    padding: 15px;
}
/*  -- References Ends --  */

/* Footer */
.footer{
    background-color: black;
    box-shadow: 0px 0px 100px gold;
    text-align: center;
    min-height: 30vh;
}
.LB {
    margin-top: 15px;
    width: 40px;
    height: 38px;
    margin-left: 15px;
}
.GR {
    margin-top: 15px;
    width: 45px;
    height: 40px;
    margin-left: 20px;
}
.insta {
        margin-top: 15px;
        width: 55px;
        height: 40px;
}
/* Footer Ends */
/* Media Query work starts here */

@media (max-width: 480px) {

/*  -- Home --  */
.hometext{
    font-family: century;
    text-align: center;
    font-weight: 500px;
    color: gold;
    display: inline-block;
    width: 100%;
    margin-top: 220px;
    margin-left: 0%;
}

.hometext p{
    font-size: small;
}
/*  -- Home Ends --  */
 /*  -- About --  */
#about{
    display: flex;
    box-sizing: border-box;
}
#pic {
    display: flex;
    flex-direction: row;
}
#pic img {
    display: none;
}
#intro p {
    flex-direction: column;
    display: flex;
    padding: 0px;
    font-size: 1.1rem;
    margin-top: 40px;
    height: 35vh;
    width: 100%;
    margin-left: 0%;

}

.btn2{
    color: black;
    background-color: gold;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 800;
    display: inline-block;
    padding: 20px 35px;
    border: 1px solid black;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 3%;
    outline: none;
    box-shadow: 0 0px 10px gold;
    transition: 0.7s ease;
    
}
/*  -- About Ends --  */
/*  -- Services --  */
.info{
    font-size: 1em;
    margin-top: 25px;
}
.info h3 {
    font-size: 1em;
    margin: 10px;
}
.info p{
    font-size: 1em;
    margin-top: 15px;
    text-align: left;
}

.icon-one{
    position: relative;
    left: 0px;
    width: 200px;
    height: 220px;
}
.icon-tow{
    position: relative;
    left: -15px;
    width: 215px;
    height: 220px;
}
.icon-three{
    position: relative;
    left: -15px;
    width: 215px;
    height: 220px;
}
/*  -- Services Ends --  */
/*  -- Qualifications -- */
#Q {
    font-family: century;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
    display: flex;
    color: gold;
    font-weight: 300px;
    box-shadow: 5px 5px 15px  gold;
    margin: 40px 0px;
}
/*  -- Qualifications Ends -- */

/*  -- References --  */
.Lexi {
    position: relative;
    left: -15px;
    width: 100%;
    height: 200px;
    margin: 15px;
    padding: 15px;
}
.Elena{
    position: relative;
    left: -15px;
    width: 100%;
    height: 200px;
    margin: 15px;
    padding: 15px;
}
.Damon{
    position: relative;
    left: -15px;
    width: 100%;
    height: 200px;
    margin: 15px;
    padding: 15px;
}
/*  -- References Ends --  */
/*  -- Footer --  */
.footer {
    min-height: 35vh;
}
.LB {
    margin-top: 15px;
    width: 25px;
    height: 30px;
    margin-left: 15px;
}
.GR {
    margin-top: 15px;
    width: 25px;
    height: 30px;
    margin-left: 15px;
}
.insta {
        margin-top: 15px;
        width: 45px;
        height: 35px;
}
/*  -- Footer Ends --  */
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
    /*  -- Home --  */
    .hometext{
        font-weight: 500px;
        color: gold;
        display: inline-block;
        width: 100%;
        margin-top: 250px;
        margin-left: 0px;
    }
    /*  -- Home Ends --  */
     /*  -- About --  */
    #about{
        display: flex;
        box-sizing: border-box;
    }
    #pic img {
            display: flex;
            flex-direction: row;
            height: 50vh;
            width: 500px;
    }
    #intro p {
        text-align: left;
        flex-direction: column;
        display: flex;
        padding: 10px;
        font-size: 0.9rem;
        margin-top: 40px;
        height: 22vh;
        width: 105%;
        margin-left: -9%;
    
    }
    
    .btn2{
        color: black;
        background-color: gold;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 800;
        display: inline-block;
        padding: 20px 35px;
        border: 1px solid black;
        letter-spacing: 1px;
        border-radius: 15px;
        margin-top: 50px;
        margin-left: 10%;
        outline: none;
        box-shadow: 0 0px 10px gold;
        transition: 0.7s ease;
        
    }
    /*  -- About Ends --  */
    /*  -- Services --  */
    .info{
        font-size: 1em;
        margin-top: 25px;
    }
    .info h3 {
        font-size: 1em;
        margin: 10px;
    }
    .info p{
        font-size: 1em;
        margin-top: 15px;
        text-align: left;
    }
    
    .icon-one{
        position: relative;
        margin-left: 20px;
        width: 200px;
        height: 220px;
    }
    .icon-tow{
        position: relative;
        margin-left: 1px;
        width: 215px;
        height: 220px;
    }
    .icon-three{
        position: relative;
        margin-left: 1px;
        width: 215px;
        height: 220px;
    }
    /*  -- Services Ends --  */
    /*  -- References --  */
    .Lexi {
        position: relative;
        left: -15px;
        width: 100%;
        height: 200px;
        margin: 15px;
        padding: 15px;
    }
    .Elena{
        position: relative;
        left: -15px;
        width: 100%;
        height: 200px;
        margin: 15px;
        padding: 15px;
    }
    .Damon{
        position: relative;
        left: -15px;
        width: 100%;
        height: 200px;
        margin: 15px;
        padding: 15px;
    }
    /*  -- References Ends --  */
    /*  -- Footer --  */
    .footer {
        min-height: 35vh;
    }
    .LB {
        margin-top: 15px;
        width: 25px;
        height: 30px;
        margin-left: 15px;
    }
    .GR {
        margin-top: 15px;
        width: 25px;
        height: 30px;
        margin-left: 15px;
    }
    
    }
    .insta {
            margin-top: 15px;
            width: 45px;
            height: 35px;
    
    /*  -- Footer Ends --  */
    }




@media only screen and (max-width: 1024px) and (min-width: 769px) {
        /*  -- Home --  */
        .hometext{
            font-weight: 500px;
            color: gold;
            display: inline-block;
            width: 100%;
            margin-top: 250px;
            margin-left: 0px;
        }
        /*  -- Home Ends --  */
         /*  -- About --  */
        #about{
            display: flex;
            box-sizing: border-box;
        }
        #pic img {
                display: flex;
                flex-direction: column;
                height: 40vh;
                width: 250px;
        }
        #intro p {
            text-align: left;
            flex-direction: column;
            display: flex;
            padding: 10px;
            font-size: 0.9rem;
            margin-top: 40px;
            height: 22vh;
            width: 80%;
            margin-left: 5%;
        
        }
        
        .btn2{
            color: black;
            background-color: gold;
            text-decoration: none;
            font-size: 1.1em;
            font-weight: 800;
            display: inline-block;
            padding: 20px 35px;
            border: 1px solid black;
            letter-spacing: 1px;
            border-radius: 15px;
            margin-top: 50px;
            margin-left: 30%;
            outline: none;
            box-shadow: 0 0px 10px gold;
            transition: 0.7s ease;
            
        }
        /*  -- About Ends --  */
        /*  -- Services --  */
        .info{
            font-size: 1em;
            margin-top: 25px;
        }
        .info h3 {
            font-size: 1em;
            margin: 10px;
        }
        .info p{
            font-size: 1em;
            margin-top: 15px;
            text-align: left;
        }
        
        .icon-one{
            position: relative;
            margin-left: 20px;
            width: 200px;
            height: 220px;
        }
        .icon-tow{
            position: relative;
            margin-left: 1px;
            width: 215px;
            height: 220px;
        }
        .icon-three{
            position: relative;
            margin-left: 1px;
            width: 215px;
            height: 220px;
        }
        /*  -- Services Ends --  */
        /*  -- References --  */
        .Lexi {
            position: relative;
            left: -15px;
            width: 100%;
            height: 200px;
            margin: 15px;
            padding: 15px;
        }
        .Elena{
            position: relative;
            left: -15px;
            width: 100%;
            height: 200px;
            margin: 15px;
            padding: 15px;
        }
        .Damon{
            position: relative;
            left: -15px;
            width: 100%;
            height: 200px;
            margin: 15px;
            padding: 15px;
        }
        /*  -- References Ends --  */
        /*  -- Footer --  */
        .footer {
            min-height: 35vh;
        }
        .LB {
            margin-top: 15px;
            width: 25px;
            height: 30px;
            margin-left: 15px;
        }
        .GR {
            margin-top: 15px;
            width: 25px;
            height: 30px;
            margin-left: 15px;
        }
        
        }
        .insta {
                margin-top: 15px;
                width: 45px;
                height: 35px;
        
        /*  -- Footer Ends --  */
        }
/* Media Query work ends here */